.nightMode{
    background-color: #333333;
    color: white;
}
.backgroundPhoto{
    z-index: 1;
}
#cardClock{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
#lightSwitchContainer{
    z-index: 2;
    position: fixed;
    color: white;
}